[submodule "/home/fivem/REPO/Calm-AI"]
	path = Calm-AI
	url = git@github.com:BeyondEarthRP/Calm-AI.git
[submodule "[esx]/esx_accessories"]
	path = [esx]/esx_accessories
	url = git@github.com:BeyondEarthRP/esx_accessories.git
