[submodule "/home/fivem/REPO/Calm-AI"]
	path = Calm-AI
	url = https://github.com/BeyondEarthRP/Calm-AI.git
[submodule "[esx]/esx_accessories"]
	path = [esx]/esx_accessories
	url = https://github.com/BeyondEarthRP/esx_accessories.git
[submodule "cron"]
	path = cron
	url = https://github.com/BeyondEarthRP/cron
[submodule "mysql-async"]
	path = mysql-async
	url = https://github.com/BeyondEarthRP/fivem-mysql-async.git
[submodule "[essential]/es_extended"]
	path = [essential]/es_extended
	url = https://github.com/BeyondEarthRP/es_extended.git
[submodule "es_admin2"]
	path = es_admin2
	url = https://github.com/BeyondEarthRP/es_admin2.git
[submodule "skinchanger"]
	path = skinchanger
	url = https://github.com/BeyondEarthRP/skinchanger.git
[submodule "[plugins]/krz_personalmenu"]
	path = [plugins]/krz_personalmenu
	url = https://github.com/BeyondEarthRP/krz_personalmenu.git
[submodule "GcPhoneForESX"]
	path = GcPhoneForESX
	url = https://github.com/BeyondEarthRP/GcPhoneForESX.git
[submodule "instance"]
	path = instance
	url = https://github.com/BeyondEarthRP/instance
[submodule "bob74_ipl"]
	path = bob74_ipl
	url = https://github.com/BeyondEarthRP/bob74_ipl.git
[submodule "Hot-Female-Ped-Pack"]
	path = Hot-Female-Ped-Pack
	url = https://github.com/BeyondEarthRP/Hot-Female-Ped-Pack-.git
[submodule "fivem-resource-base"]
	path = fivem-resource-base
	url = https://github.com/BeyondEarthRP/fivem-resource-base
[submodule "es_ui"]
	path = es_ui
	url = https://github.com/BeyondEarthRP/es_ui.git
[submodule "loqscript-material_load-loadingscreen"]
	path = loqscript-material_load-loadingscreen
	url = https://github.com/BeyondEarthRP/FiveM-Material_Load-Loading-Screen.git
[submodule "[esx]/esx_license"]
	path = [esx]/esx_license
	url = https://github.com/BeyondEarthRP/esx_license.git
[submodule "[esx]/esx_advancedgarage"]
	path = [esx]/esx_advancedgarage
	url = https://github.com/BeyondEarthRP/esx_advancedgarage.git
[submodule "[esx]/esx_holdup"]
	path = [esx]/esx_holdup
	url = https://github.com/BeyondEarthRP/esx_holdup.git
[submodule "[esx]/esx_vehicleshop"]
	path = [esx]/esx_vehicleshop
	url = https://github.com/BeyondEarthRP/esx_vehicleshop.git
[submodule "[esx]/esx_datastore"]
	path = [esx]/esx_datastore
	url = https://github.com/BeyondEarthRP/esx_datastore.git
[submodule "[esx]/esx_status"]
	path = [esx]/esx_status
	url = https://github.com/BeyondEarthRP/esx_status.git
[submodule "[esx]/esx_aiomenu"]
	path = [esx]/esx_aiomenu
	url = https://github.com/BeyondEarthRP/esx_aiomenu.git
[submodule "[esx]/esx_animations"]
	path = [esx]/esx_animations
	url = https://github.com/BeyondEarthRP/ESX_Animations-English-Version.git
[submodule "[esx]/esx_atm"]
	path = [esx]/esx_atm
	url = https://github.com/BeyondEarthRP/esx_atm.git
[submodule "[esx]/esx_policejob"]
	path = [esx]/esx_policejob
	url = https://github.com/BeyondEarthRP/esx_policejob.git
[submodule "[esx]/esx_mechanicjob"]
	path = [esx]/esx_mechanicjob
	url = https://github.com/BeyondEarthRP/esx_mechanicjob.git
[submodule "[esx]/esx_addonaccount"]
	path = [esx]/esx_addonaccount
	url = https://github.com/BeyondEarthRP/esx_addonaccount.git
[submodule "[esx]/esx_property"]
	path = [esx]/esx_property
	url = https://github.com/BeyondEarthRP/esx_property.git
[submodule "[esx]/esx_joblisting"]
	path = [esx]/esx_joblisting
	url = https://github.com/BeyondEarthRP/esx_joblisting.git
[submodule "[esx]/esx_skin"]
	path = [esx]/esx_skin
	url = https://github.com/BeyondEarthRP/esx_skin.git
[submodule "[esx]/esx_identity"]
	path = [esx]/esx_identity
	url = https://github.com/BeyondEarthRP/esx_identity.git
[submodule "[esx]/esx_ambulancejob"]
	path = [esx]/esx_ambulancejob
	url = https://github.com/BeyondEarthRP/esx_ambulancejob.git
[submodule "[esx]/[ui]/esx_menu_dialog"]
	path = [esx]/[ui]/esx_menu_dialog
	url = https://github.com/BeyondEarthRP/esx_menu_dialog.git
[submodule "[esx]/[ui]/esx_menu_default"]
	path = [esx]/[ui]/esx_menu_default
	url = https://github.com/BeyondEarthRP/esx_menu_default.git
[submodule "[esx]/[ui]/esx_menu_list"]
	path = [esx]/[ui]/esx_menu_list
	url = https://github.com/BeyondEarthRP/esx_menu_list.git
[submodule "[esx]/esx_drugs"]
	path = [esx]/esx_drugs
	url = https://github.com/BeyondEarthRP/esx_drugs.git
[submodule "[esx]/esx_billing"]
	path = [esx]/esx_billing
	url = https://github.com/BeyondEarthRP/esx_billing.git
[submodule "[esx]/esx_voice"]
	path = [esx]/esx_voice
	url = https://github.com/BeyondEarthRP/esx_voice.git
[submodule "[esx]/esx_taxijob"]
	path = [esx]/esx_taxijob
	url = https://github.com/BeyondEarthRP/esx_taxijob.git
[submodule "[esx]/esx_shops"]
	path = [esx]/esx_shops
	url = https://github.com/BeyondEarthRP/esx_shops.git
[submodule "[esx]/esx_service"]
	path = [esx]/esx_service
	url = https://github.com/BeyondEarthRP/esx_service.git
[submodule "[esx]/esx_basicneeds"]
	path = [esx]/esx_basicneeds
	url = https://github.com/BeyondEarthRP/esx_basicneeds.git
[submodule "[esx]/esx_clotheshop"]
	path = [esx]/esx_clotheshop
	url = https://github.com/BeyondEarthRP/esx_clotheshop.git
[submodule "[esx]/esx_society"]
	path = [esx]/esx_society
	url = https://github.com/BeyondEarthRP/esx_society.git
[submodule "[esx]/esx_jobs"]
	path = [esx]/esx_jobs
	url = https://github.com/BeyondEarthRP/esx_jobs.git
[submodule "[esx]/esx_locksystem"]
	path = [esx]/esx_locksystem
	url = https://github.com/BeyondEarthRP/esx_locksystem.git
[submodule "[esx]/esx_addoninventory"]
	path = [esx]/esx_addoninventory
	url = https://github.com/BeyondEarthRP/esx_addoninventory.git
[submodule "esplugin_mysql"]
	path = esplugin_mysql
	url = https://github.com/BeyondEarthRP/esplugin_mysql.git
[submodule "FiveM-RealisticVehicles"]
	path = FiveM-RealisticVehicles
	url = https://github.com/BeyondEarthRP/FiveM-RealisticVehicles.git
[submodule "essentialmode"]
	path = essentialmode
	url = https://github.com/BeyondEarthRP/essentialmode.git
[submodule "async"]
	path = async
	url = https://github.com/BeyondEarthRP/async.git
[submodule "__[VEHICLES-PACKS]__/Vehicles"]
	path = __[VEHICLES-PACKS]__/Vehicles
	url = https://github.com/five-m/Vehicles.git
[submodule "__[VEHICLES-PACKS]__/JobVehicles"]
	path = __[VEHICLES-PACKS]__/JobVehicles
	url = https://github.com/AnotherGermanRoleplay/Cars-JobVehicles.git
[submodule "[vehicles]/ExternalVehicleCommands"]
	path = [vehicles]/ExternalVehicleCommands
	url = git@github.com:BeyondEarthRP/ExternalVehicleCommands.git
[submodule "[esx]/esx_drugfarms"]
	path = [esx]/esx_drugfarms
	url = git@github.com:BeyondEarthRP/esx_drugfarms.git
[submodule "trew_hud_ui"]
	path = trew_hud_ui
	url = https://github.com/BeyondEarthRP/trew_hud_ui
