

#||||||||||||||||||||||||||||||||||||||
#|> vMenu
#||||||||||||||||||||||||||||||||||||||
exec permissions.cfg
start vMenu


#||||||||||||||||||||||||||||||||||||||
#|> Loading Screen
#||||||||||||||||||||||||||||||||||||||
ensure cyberload


#||||||||||||||||||||||||||||||||||||||
#|> FiveM Base Mods
#||||||||||||||||||||||||||||||||||||||
start mapmanager
start chat
start spawnmanager
start sessionmanager
restart sessionmanager
start fivem
start hardcap
start rconlog
start baseevents
start yarn
start chat-theme-gtao
start monitor


#||||||||||||||||||||||||||||||||||||||
#|> MYSQL ASYNC
#||||||||||||||||||||||||||||||||||||||
set mysql_connection_string "server=localhost;database=essentialmode;userid=username;password=YourPassword"
set es_enableCustomData 1
start mysql-async
